name: CI Workflow

on:
  push:
    paths:
      - MLProject/**
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.7

      - name: Install dependencies
        run: |
          pip install -r MLProject/requirements.txt
          pip install mlflow

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --entry-point main --env-manager=local

      - name: Commit artefak ke GitHub
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git pull origin main  # Hindari konflik
          git add MLProject/saved_artifacts/
          git commit -m "CI: Tambahkan artefak hasil training"
          git push origin main
